@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont_2020.eot'); /* IE9 */
  src: url('../fonts/iconfont_2020.eot') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/a70a0dfb22404820bac4c638b8d968a0.woff') format('woff2'),
  url('../fonts/iconfont_2020.woff') format('woff'),
  url('../fonts/iconfont_2020.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('../fonts/iconfont_2020.svg') format('svg'); /* iOS 4.1- */
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-qzone:before {
  content: "\e619";
}

.icon-link:before {
  content: "\e635";
}

.icon-jia:before {
  content: "\e629";
}

.icon-jian:before {
  content: "\e625";
}

.icon-right:before {
  content: "\e63f";
}

.icon-zhiding:before {
  content: "\e76f";
}

.icon-menu:before {
  content: "\e61f";
}

.icon-left:before {
  content: "\e739";
}

.icon-down:before {
  content: "\e73a";
}

.icon-up:before {
  content: "\e73b";
}

.icon-weixin:before {
  content: "\e637";
}

.icon-weibo:before {
  content: "\e666";
}

.icon-fcstubiao23:before {
  content: "\e66e";
}

.icon-fanhui:before {
  content: "\e689";
}

.icon-fanhui-copy:before {
  content: "\e888";
}

.icon-phone:before {
  content: "\e606";
}

.icon-shijian:before {
  content: "\e618";
}

.icon-dengji:before {
  content: "\e623";
}

.icon-youxiang:before {
  content: "\e67e";
}

.icon-tiaochafillx:before {
  content: "\e605";
}

.icon-tousu:before {
  content: "\e604";
}

.icon-zaixianfangtan:before {
  content: "\e887";
}

.icon-hudong:before {
  content: "\e662";
}

.icon-anquan:before {
  content: "\e63e";
}

.icon-shenbao:before {
  content: "\e615";
}

.icon-weibiaoti--:before {
  content: "\e602";
}

.icon-guanli2:before {
  content: "\e603";
}

.icon-guanli:before {
  content: "\e609";
}

.icon-huaban:before {
  content: "\e657";
}

.icon-yanchupiao:before {
  content: "\e62f";
}

.icon-change:before {
  content: "\e641";
}

.icon-mingdan:before {
  content: "\e7a6";
}

.icon-module_type14:before {
  content: "\e601";
}

.icon-wenhuahuodong:before {
  content: "\e642";
}

.icon-jinchukou-:before {
  content: "\e616";
}

.icon-caigou:before {
  content: "\e77e";
}

.icon-tongji1:before {
  content: "\e600";
}

.icon-shenpi:before {
  content: "\e613";
}

.icon-renshixinxi:before {
  content: "\e64e";
}

.icon-caizhengju-:before {
  content: "\e79f";
}

.icon-zhineng:before {
  content: "\e68b";
}

.icon-public-notice:before {
  content: "\e7bc";
}

.icon-gongkai:before {
  content: "\e66c";
}

.icon-biaoqian:before {
  content: "\e60d";
}

.icon-sousuo:before {
  content: "\e608";
}

